.git
.backups
.data
nanobot
onemeta-2026-07-22
ops
pdf.metahumans.one
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.tar
*.zip
*.log
nohup.out
backend_config.log
nats.log
perm_debug.log
package-lock.json
package.json
