NETEARTHONE_API_BASE_URL=https://httpapi.com/api
NETEARTHONE_AUTH_USER_ID=
NETEARTHONE_API_KEY=
NETEARTHONE_TIMEOUT=30
NETEARTHONE_DEFAULT_CUSTOMER_ID=
NETEARTHONE_DEFAULT_INVOICE_OPTION=NoInvoice
NETEARTHONE_PRICING_JSON=
